@import "mixins/mixins"
@import "mixins/retina_sprites"



.container
    width: auto



.page-wrap
    min-width: 320px
    width: 100%
    position: relative
    overflow: hidden

.page-wrap-overlay
    display: none
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    position: absolute
    top: 0
    left: 0
    z-index: 90

.page-header
    padding-bottom: 0
    margin: 0
    border-bottom: none


.navbar
    border: none
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    margin-bottom: 0
    &.header
        padding: 10px 0
        border-bottom: 1px solid #aaaaaa
        .navbar__item
            display: inline-block
            max-width: 760px
            padding: 0 5px
            &:after
                content: ""
                display: block
                width: 1px
                height: 10px
                background: #5b8dc2
                position: absolute
                top: 50%
                right: 0
                -webkit-transform: translateY(-50%)
                -moz-transform: translateY(-50%)
                -ms-transform: translateY(-50%)
                -o-transform: translateY(-50%)
                transform: translateY(-50%)
            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0
                &:after
                    display: none
            > .navbar__link
                color: #316cb3
                font-size: 11px
                &:hover, &:active, &:focus
                    background: transparent
                    color: #fd2f08
                &:visited
                    &:hover, &:active, &:focus
                        background: transparent
                        color: #fd2f08
    &.footer
        padding: 10px 20px
        .navbar__item
            display: block
            float: none
            line-height: 13px
            > .navbar__link
                display: inline-block
                line-height: inherit
                text-decoration: underline
                color: #fff
                &:hover, &:active, &:focus
                    background: transparent
                    color: #ff9900
                    &:visited
                        &:hover, &:active, &:focus
                            background: transparent
                            color: #ff9900


.navbar-header
    float: left
.container > .navbar-header
    margin: 0

.navbar-collapse
    display: block
    float: left
    width: auto
    height: auto
    padding: 5px 0
    position: static
    &.collapse
        padding-bottom: 0



.navbar-nav > .navbar__item > .navbar__link
    padding: 0
    text-transform: uppercase
    font-size: 11px
    +transition(all 0.5s ease 0s)
    &:hover, &:active, &:focus
        color: #fd2f08
        &:visited
            &:hover, &:active, &:focus
                color: #fd2f08

.nav > li
    display: inline-block

.navbar-right
    float: right
    padding-top: 2px
    margin-right: 0

.navbar-toggle
    width: 38px
    padding: 0
    margin: 3px 0 0 0
.navbar-toggle
    .icon-bar
        width: 100%
        height: 4px
        background: #316cb3
        +border-radius(2px)
    .icon-bar + .icon-bar
        margin-top: 5px

.navbar-toggle-close
    width: 32px
    height: 32px
    margin-right: 15px
    padding: 0
    background: none
    border: none
    outline: none
.navbar-toggle-close
    .icon-bar
        display: block
        width: 32px
        height: 4px
        background: #316cb3
        -webkit-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -o-transform: rotate(-45deg)
        transform: rotate(-45deg)
        + .icon-bar
            margin-top: -4px
            -webkit-transform: rotate(45deg)
            -moz-transform: rotate(45deg)
            -ms-transform: rotate(45deg)
            -o-transform: rotate(45deg)
            transform: rotate(45deg)

.nav-tabs
    border-bottom: none
    > li
        margin-bottom: 0
        border: 1px solid #aaaaaa
        border-right: 0
        &:last-child
            border-right: 1px solid #aaaaaa
        > a
            padding: 15px
            background: #eeeeee
            margin: 0
            border: none
            text-align: center
            color: #000
            +border_radius(0)
            &:hover, &:focus
                color: #000
                background: #eeeeee
                border: none
            &:active
                background: #fff
                border: none
            &:visited
                &:hover, &:focus
                    color: #000
                    background: #eeeeee
                    border: none
                &:active
                    background: #fff
                    border: none
    >li.active > a
        background: #fff
        border: none
        &:hover, &:focus
            border: none
        &:active
            border: none
        &:visited
            background: #fff
            &:hover, &:focus
                border: none
            &:active
                border: none
    > .nav-tabs__item
        width: 25%


.page-footer
    padding: 30px 0



.h2, h2
    margin-top: 0
    margin-bottom: 20px
    font-size: 34px
    color: #316cb3
.h3, h3
    margin-top: 0
    margin-bottom: 25px
    font-size: 25px
    color: #316cb3
.h4, h4
    margin-top: 0
    margin-bottom: 20px
    font-size: 20px
.h5, h5
    font-size: 15px

.chapter
    >.paragraph:last-child, p:last-child
        margin-bottom: 0
    &.fused
        .paragraph, p
            margin-bottom: 0
.paragraph, p
    margin-bottom: 20px
    font-size: 15px

.ls-inside
    padding-left: 0
    list-style-position: inside
.list-markered
    padding-left: 0
    list-style: none
    >li
        &:before
            content: ""
            display: inline-block
            vertical-align: top
            width: 6px
            height: 6px
            background: #000
            margin-top: 8px
            margin-right: 6px
            +border-radius(50%)
.list-blue
    list-style: none
    padding-top: 20px
    padding-left: 25px
    margin-bottom: 40px
    font-size: 15px
    color: #316cb3
    >li
        position: relative
        margin-bottom: 15px
        &:before
            content: ""
            display: inline-block
            vertical-align: top
            width: 6px
            height: 6px
            background: #316cb3
            position: absolute
            top: 55%
            left: -20px
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)
            +border-radius(50%)
        &:last-child
            margin-bottom: 0
        > a
            color: #316cb3
            text-decoration: underline
            &:hover, &:active, &:focus
                color: #ff290b
            &:visited
                &:hover, &:active, &:focus
                    color: #ff290b

a
    font-size: 15px
    color: #316cb3
    +transition(all 0.5s ease 0s)
    &:hover, &:active, &:focus
        color: #ff290b
    &:visited
        &:hover, &:active, &:focus
            color: #ff290b

.btn
    +transition(all 0.5s ease 0s)
    +border_radius(0)
    outline: none
    &:hover, &:active, &:focus
        outline: none
    &:visited
        &:hover, &:active, &:focus
            outline: none
.btn-default
    background: #316cb3
    border: 1px solid #316cb3
    padding: 0 30px
    line-height: 30px
    font-size: 15px
    color: #fff
    &:hover, &:active, &:focus
        background: #fff
        border-color: #316cb3
        color: #316cb3
        &:visited
            &:hover, &:active, &:focus
                background: #fff
                border-color: #316cb3
                color: #316cb3
.btn-primary
    padding: 0 20px
    background: #fff
    border: 1px solid #fff
    line-height: 32px
    font-size: 15px
    color: #316cb3
    +border_radius(8px)
    &:hover, &:active, &:focus
        background: #37389f
        border-color: #37389f
        text-decoration: none
        color: #fff
        &:visited
            &:hover, &:active, &:focus
                background: #37389f
                border-color: #37389f
                text-decoration: none
                color: #fff
.btn-info
    padding: 0 35px
    background: #316cb3
    font-size: 20px
    line-height: 36px
    border: 2px solid transparent
    cursor: pointer
    &:hover, &:active, &:focus
        background: transparent
        border-color: #316cb3
        text-decoration: none
        color: #316cb3
        &:visited
            &:hover, &:active, &:focus
                background: transparent
                border-color: #316cb3
                text-decoration: none
                color: #316cb3
.btn-lg
    border: 2px solid transparent
    padding: 0 30px
    line-height: 44px
    font-size: 20px
.btn-sm
    padding: 0 30px
    line-height: 32px
    font-size: 15px
.btn-ss
    border: 1px solid transparent
    padding: 0 20px
    line-height: 26px
    font-size: 15px
.btn-xs
    padding: 0 10px
    line-height: 18px
    text-transform: uppercase
    font-size: 11px
    +border_radius(5px)



.input-text, input[type="text"]
    outline: none
.input-text-default
    padding: 0 10px
    border: 1px solid #aaaaaa
    height: 30px
    font-size: 12px
.input-text-sm
    width: 60px
    height: 26px
    padding: 0 7px
    font-size: 15px
.input-text-xs
    width: 50px
    height: 20px
    padding: 0 5px
    font-size: 12px
    border: 2px solid #aaaaaa
    +border_radius(5px)
.input-text-primary
    vertical-align: middle
    padding: 0 10px
    border: 1px solid #fff
    height: 34px
    font-size: 15px
    +border_radius(8px)
    &::-webkit-input-placeholder
        color: #9d9d9d
    &::-moz-placeholder
        color: #9d9d9d
    &:-ms-input-placeholder
        color: #9d9d9d

.textarea, textarea
    display: block
    width: 100%
    height: 150px
    padding: 10px 15px
    max-width: 100%
    max-height: 300px
    border: 1px solid #aaaaaa
    font-size: 15px
    outline: none
    &::-webkit-input-placeholder
        font-size: 12px
        color: #9d9d9d
    &::-moz-placeholder
        font-size: 12px
        color: #9d9d9d
    &:-ms-input-placeholder
        font-size: 12px
        color: #9d9d9d

.input-file-hidden
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    overflow: hidden
    opacity: 0
    cursor: pointer
    &:before
        content: ""
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        cursor: pointer

.bootstrap-select
    &:focus
        outline: none
    &.btn-group .dropdown-toggle .caret
        border-top: 11px solid #aaaaaa
        border-left: 7px solid transparent
        border-right: 7px solid transparent
        position: absolute
        top: 40%
        right: 7px
    .btn, .dropdown-toggle, .btn-default
        background: none
        padding: 0 7px
        border: 1px solid #aaaaaa
        line-height: 26px
        color: #000
        &:focus
            outline: none !important
        &:active
            background: none
    .caret
        border-top-color: #aaaaaa
    &.open
        *
            outline: none
        .btn, .dropdown-toggle, .btn-default
            -webkit-box-shadow: none
            -moz-box-shadow: none
            box-shadow: none
            background: none
            &:hover, &:active, &:focus
                background: none
                border: 1px solid #aaaaaa
                color: #000
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
    width: 100%
.bootstrap-select.btn-group .dropdown-menu li a
    padding: 4px 7px
    &:hover
        background: #eeeeee
.bootstrap-select.btn-group .dropdown-menu
    padding: 0
    border: 1px solid #aaaaaa
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0

.select
    position: relative
    background: #fff
    &:after
        content: ""
        display: block
        border-top: 11px solid #9d9d9d
        border-left: 7px solid transparent
        border-right: 7px solid transparent
        position: absolute
        top: 8px
        right: 7px
    .select__box, select
        width: 100%
        position: relative
        z-index: 10
        cursor: pointer
.select__box
    height: 26px
    border: 1px solid #aaaaaa
    background: none
    padding: 0 25px 0 7px
    margin-bottom: 10px
    font-size: 15px
    outline: none
    -webkit-appearance: none
    -moz-appearance: none

.radio
    display: inline-block
    padding-left: 25px
    margin: 0
    font-size: 15px
    font-weight: normal
    cursor: pointer
.radio__switch
    position: absolute
    top: 50%
    left: 0
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    outline: none
    opacity: 0
    &:checked + .radio__switch-imitator
        &:before
            width: 8px
            height: 8px
            opacity: 1
.radio__switch-imitator
    display: block
    width: 16px
    height: 16px
    border: 1px solid #ababab
    position: absolute
    top: 50%
    left: 0
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    +border_radius(50%)
    &:before
        content: ""
        display: block
        width: 16px
        height: 16px
        background: #ababab
        position: absolute
        top: 50%
        left: 50%
        -webkit-transform: translate(-50%, -50%)
        -moz-transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        -o-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        opacity: 0
        +border_radius(50%)
        +transition(all 0.5s ease 0s)
input[type="radio"]
    margin-top: 0
.radio input[type="radio"]
    margin-left: 0

.checkbox-fav
    padding-left: 30px
    position: relative
    text-decoration: underline
    font-size: 11px
    cursor: pointer
    +transition(all 0.5s ease 0s)
    &:hover, &:active, &:focus
        color: #ff290b
        .checkbox-fav-icon
            &.orange
                opacity: 1
.checkbox-fav__input
    position: absolute
    opacity: 0
    &:checked ~ .checkbox-fav-icon
        &.orange
            opacity: 1
            -webkit-transform: scale(1.1)
            -moz-transform: scale(1.1)
            -ms-transform: scale(1.1)
            -o-transform: scale(1.1)
            transform: scale(1.1)
.checkbox-fav-icon
    position: absolute
    top: 50%
    left: 0
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    &.gray
        +sprite(heart-gray)
        +transition(all 0.5s ease 0s)
    &.orange
        width: 19px
        height: 19px
        -webkit-transform-origin: 5px 100px
        -moz-transform-origin: 5px 100px
        -o-transform-origin: 5px 100px
        -ms-transform-origin: 5px 100px
        transform-origin: 5px 100px
        opacity: 0
        +sprite(heart-orange)
        +transition(all 0.5s ease 0s)

.slider-horizontal
    width: 100% !important
    margin-bottom: 10px
.slider-horizontal .slider-track
    height: 6px
    background: #aaaaaa
.slider-horizontal .slider-selection
    background: #aaaaaa
.slider-horizontal
    .slider-handle
        margin-top: -7px
        background: #316cb3
        +border_radius(50%)
    .slider-handle:last-child
        background: #ff290b
        +border_radius(50%)
.slider-range
    opacity: 0
.tooltip
    &.top
        display: none

label
    font-weight: normal

.form-group
    margin-bottom: $form-group-margin-bottom
    > input
        width: 100%
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0



.rating-stars
    overflow: hidden
    display: inline-block
    font-size: 0
    position: relative
.input-star
    float: right
    height: 28px
    padding: 0
    opacity: 0
    cursor: pointer
.label-star:hover,
.label-star:hover ~ .label-star,
.input-star:hover ~ .label-star,
.input-star:checked ~ .label-star
    +sprite(star-lg-painted)
.label-star,
.label-star
    display: block
    float: right
    margin-right: -10px
    margin-bottom: 0
    cursor: pointer
    +sprite(star-lg-unpainted)



.caret
    margin-left: 8px
    border-top: 9px dashed
    border-right: 7px solid transparent
    border-left: 7px solid transparent


.img-responsive
    width: 100%


.icon
    display: inline-block
    vertical-align: middle

.icon-instagram
    +sprite(instagram)
.icon-vk
    +sprite(vk)
.icon-classmates
    +sprite(classmates)
.icon-mail-ru
    +sprite(mail-ru)
.icon-f
    +sprite(f)

.icon-person
    +sprite(person-blue)
    +transition(all 0.5s ease 0s)
.icon-box
    +sprite(box)
.icon-auto
    +sprite(auto)
.icon-tel-orange
    +sprite(tel-orange)
.icon-loupe
    +sprite(loupe)
.icon-gift-white
    +sprite(gift-white)
.icon-heart
    +sprite(heart)
.icon-cart
    +sprite(cart)
.icon-catalog
    +sprite(catalog, "all", "abs_middle")
.icon-filter
    +sprite(filter, "all", "abs_middle")

.icon-arrow-down
    +sprite(arrow-down-blue)
    +transition(all 0.5s ease 0s)

.icon-gadget
    +sprite(gadget-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-clock
    +sprite(clock-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-cream
    +sprite(cream-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-sport
    +sprite(sport-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-mouse
    +sprite(mouse-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-wheel
    +sprite(wheel-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-purse
    +sprite(purse-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-toy
    +sprite(toy-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-headphones
    +sprite(headphones-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-lamp
    +sprite(lamp-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-instruments
    +sprite(instruments-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-gift-gray
    +sprite(gift-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-bed
    +sprite(bed-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-cigarette
    +sprite(cigarette-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)
.icon-glasses
    +sprite(glasses-gray, "all", "abs_middle")
    +transition(all 0.5s ease 0s)

.icon-plus-gray
    +sprite(plus-gray)
.icon-minus
    +sprite(minus)

.stars-sm-painted
    margin-bottom: 7px
.icon-star-sm-painted
    +sprite(star-sm-painted)
.stars-md-unpainted
    text-align: center
    margin-bottom: 7px
.icon-star-md-unpainted
    +sprite(star-md-unpainted)
.icon-star-lg-painted
    +sprite(star-lg-painted)
.stars-lg-unpainted
    display: inline-block
.icon-star-lg-unpainted
    +sprite(star-lg-unpainted)


.icon-comment
    +sprite(comment)
.icon-plus-blue
    +sprite(plus-blue)

.icon-comment-blue
    +sprite(comment-blue)
    +transition(all 0.5s ease 0s)
.icon-finger-up
    +sprite(finger-up-blue)
    +transition(all 0.5s ease 0s)
.icon-finger-down
    +sprite(finger-down-blue)
    +transition(all 0.5s ease 0s)

.icon-tel-white
    +sprite(tel-white)

.icon-mastercard
    +sprite(mastercard)
.icon-visa
    +sprite(visa)
.icon-q
    +sprite(q)



.clean
    width: auto
    height: auto
    background: none
    padding: 0
    margin: 0
    border: none
    font-size: inherit

.mb-5
    margin-bottom: 5px
.mb-10
    margin-bottom: 10px
.mb-15
    margin-bottom: 15px
.mb-20
    margin-bottom: 20px
.mb-25
    margin-bottom: 25px
.mb-30
    margin-bottom: 30px
.mb-35
    margin-bottom: 35px
.ml-10
    margin-left: 10px
.mr-5
    margin-right: 5px
.mr-10
    margin-right: 10px
.mr-20
    margin-right: 20px

.d-ib
    display: inline-block
.va-m
    display: inline-block
    vertical-align: middle
.va-m-b
    &::before
        content: ""
        display: inline-block
        vertical-align: middle
        height: 100%
.abs-center
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    -o-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

.p-r
    position: relative

.bg-light-gray
    background: #eeeeee
.bg-blue
    background: #316cb3

.bdr-b-gray
    border-bottom: 1px solid #aaaaaa
.bdr-r-gray
    border-right: 1px solid #aaaaaa

.bdr-r-a-gray
    position: relative
    &:after
        content: ""
        display: block
        width: 1px
        height: 100%
        background: #ababab
        position: absolute
        top: 0
        right: 2%
.bdr-r-a-gradient
    position: relative
    &:after
        content: ""
        display: block
        width: 1px
        height: 213px
        background: #4d87ce
        border-right: 1px solid #2863a5
        box-sizing: content-box
        position: absolute
        top: 0
        right: 0

.c-white
    color: #fff
.c-gray
    color: #9d9d9d
.c-blue
    color: #316cb3
.c-red
    color: #de1f1f
.c-green
    color: #74a83f

.tt-u
    text-transform: uppercase
.td-u
    text-decoration: underline

.fs-0
    font-size: 0
.fs-11
    font-size: 11px
.fs-12
    font-size: 12px
.fs-15
    font-size: 15px
.fs-16
    font-size: 16px
.fs-19
    font-size: 19px
.fs-20
    font-size: 20px
.fs-28
    font-size: 28px

@media (min-width: 1200px)
    .container
        width: $container-large-desktop