{% extends "layouts/app.twig" %}

{% block pageTitle %}Карточка товара{% endblock %}

{% block content %}
    {% include "layouts/breadcrumbs.twig" %}
    <div class="page-body">
        <section class="page-body__main">
            <div class="container">
                <div class="page-body__sidebar">
                    {% include "layouts/sidebar.twig" %}
                </div>
                <div class="page-body__content">
                        <div class="page-body__content-inner m-mh-full">
                            <div class="product-card">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="product-card__photo">
                                            <div class="product-card__photo-big">
                                                <div class="product-card__photo-bg" ></div>
                                            </div>
                                            <div class="owl-carousel product-card__photos-small">
                                                <a class="product-card__photo-small" data-large-src="images/3g-smart-baby-watch-q75-android.jpg">
                                                    <div class="product-card__photo-bg" style="background: url(images/3g-smart-baby-watch-q75-android.jpg) no-repeat center center; background-size: contain"></div>
                                                </a>
                                                <a class="product-card__photo-small" data-large-src="images/3g-smart-baby-watch-q75-android.jpg">
                                                    <div class="product-card__photo-bg" style="background: url(images/3g-smart-baby-watch-q75-android.jpg) no-repeat center center; background-size: contain"></div>
                                                </a>
                                                <a class="product-card__photo-small" data-large-src="images/3g-smart-baby-watch-q75-android.jpg">
                                                    <div class="product-card__photo-bg" style="background: url(images/3g-smart-baby-watch-q75-android.jpg) no-repeat center center; background-size: contain"></div>
                                                </a>
                                                <a class="product-card__photo-small" data-large-src="images/3g-smart-baby-watch-q75-android.jpg">
                                                    <div class="product-card__photo-bg" style="background: url(images/3g-smart-baby-watch-q75-android.jpg) no-repeat center center; background-size: contain"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="h3">
                                            3G детские умные часы Q75 на Android 4.2 1.2 ГГц Smart Baby Watch с GPS трекером 3G WCDMA WIFI КАМЕРА
                                        </h3>
                                        <form method="post">
                                            <div class="product-card__table-info">
                                                <div class="product-card__table-info-row">
                                                    <div class="product-card__table-info-cell left">Артикул:</div>
                                                    <div class="product-card__table-info-cell right">3534635653</div>
                                                </div>
                                                <div class="product-card__table-info-row">
                                                    <div class="product-card__table-info-cell left">Цена:</div>
                                                    <div class="product-card__table-info-cell right"><span class="product-card__table-info-price">1 500 тг.</span></div>
                                                </div>
                                                <div class="product-card__table-info-row">
                                                    <div class="product-card__table-info-cell left">Состояние:</div>
                                                    <div class="product-card__table-info-cell right">Новое</div>
                                                </div>
                                                <div class="product-card__table-info-row">
                                                    <div class="product-card__table-info-cell left">Количество</div>
                                                    <div class="product-card__table-info-cell right"><span><input type="text" class="input-text input-text-default input-text-sm mr-10" title="Количество">шт.</span></div>
                                                </div>
                                            </div>
                                            <div class="mb-15">
                                                <button type="button" class="btn btn-default btn-lg">Добавить в корзину</button>
                                            </div>
                                            <label class="checkbox-fav">
                                                <input type="checkbox" class="checkbox-fav__input" title="Мои желания">
                                                <i class="checkbox-fav-icon gray"></i>
                                                <i class="checkbox-fav-icon orange"></i>
                                                Добавить в "Мои желания"
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-tabs__item active" role="presentation">
                                        <a class="nav-tabs__link" href="#product-description" aria-controls="product-description" role="tab" data-toggle="tab">Описание товара</a>
                                    </li>
                                    <li class="nav-tabs__item" role="presentation">
                                        <a class="nav-tabs__link" href="#product-reviews" aria-controls="product-reviews" role="tab" data-toggle="tab">Отзывы <span>(12)</span></a>
                                    </li>
                                    <li class="nav-tabs__item" role="presentation">
                                        <a class="nav-tabs__link" href="#product-shipping-payment" aria-controls="product-shipping-payment" role="tab" data-toggle="tab">Доставка и оплата</a>
                                    </li>
                                    <li class="nav-tabs__item" role="presentation">
                                        <a class="nav-tabs__link" href="#product-guarantee" aria-controls="product-guarantee" role="tab" data-toggle="tab">Гарантии</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="product-description">
                                        <h4 class="h4 c-blue mb-30">Технические характеристики:</h4>
                                        <div class="product-info__table-charact">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="product-info__table-charact-row">
                                                        <div class="product-info__table-charact-cell left">Характеристика:</div>
                                                        <div class="product-info__table-charact-cell right">Описание товара</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chapter mb-10">
                                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores earum ex in labore nam non numquam obcaecati qui quia quibusdam quos, ratione recusandae sequi unde veniam? Aliquid animi consectetur cum error exercitationem explicabo fuga harum hic labore laudantium, maiores nemo quaerat quia tenetur voluptatem! Ab at atque cumque dignissimos eaque eius fugiat harum in iste labore libero minus, necessitatibus, nemo nihil numquam, porro repellat. Ad, adipisci aperiam architecto, earum enim facere fuga iste iusto molestiae optio, placeat porro quam quibusdam quo soluta! Architecto aut dignissimos esse est fugiat laborum, maxime modi nesciunt nostrum placeat porro, quaerat quisquam quo quos veniam?</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="product-reviews">
                                        <h4 class="h4 c-blue mb-15">Отзывы:</h4>
                                        <div class="product-info__reviews">
                                            <div class="product-info__reviews-item">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-5 va-m bdr-r-gray">
                                                        <ul class="reviews-quantity">
                                                            <li class="reviews-quantity__item">
                                                                <div class="reviews-quantity__left-b">
                                                                    <div class="stars-lg-unpainted">
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-quantity__right-b">
                                                                    <div class="reviews-quantity__numeral">18</div>
                                                                </div>
                                                            </li>
                                                            <li class="reviews-quantity__item">
                                                                <div class="reviews-quantity__left-b">
                                                                    <div class="stars-lg-unpainted">
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-quantity__right-b">
                                                                    <div class="reviews-quantity__numeral">1</div>
                                                                </div>
                                                            </li>
                                                            <li class="reviews-quantity__item">
                                                                <div class="reviews-quantity__left-b">
                                                                    <div class="stars-lg-unpainted">
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-quantity__right-b">
                                                                    <div class="reviews-quantity__numeral">0</div>
                                                                </div>
                                                            </li>
                                                            <li class="reviews-quantity__item">
                                                                <div class="reviews-quantity__left-b">
                                                                    <div class="stars-lg-unpainted">
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-quantity__right-b">
                                                                    <div class="reviews-quantity__numeral">0</div>
                                                                </div>
                                                            </li>
                                                            <li class="reviews-quantity__item">
                                                                <div class="reviews-quantity__left-b">
                                                                    <div class="stars-lg-unpainted">
                                                                        <i class="icon icon-star-lg-unpainted"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-quantity__right-b">
                                                                    <div class="reviews-quantity__numeral">0</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7">
                                                        <div class="product-info__reviews-md-rating va-m-b">
                                                            <div class="fs-20 mb-10 va-m">
                                                                Средний рейтинг: <span class="c-blue">4,9 из 5,0</span>
                                                                <div class="stars-lg-painted">
                                                                    <i class="icon icon-star-lg-painted"></i>
                                                                    <i class="icon icon-star-lg-painted"></i>
                                                                    <i class="icon icon-star-lg-painted"></i>
                                                                    <i class="icon icon-star-lg-painted"></i>
                                                                    <i class="icon icon-star-lg-painted"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info__reviews-item">
                                                <div class="reviews-comment">
                                                    <div class="reviews-comment__inner left">
                                                        Иванов Иван
                                                    </div>
                                                    <div class="reviews-comment__inner right">
                                                        <div class="reviews-comment__date">05.11.2016</div>
                                                        <div class="stars-sm-painted">
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                        </div>
                                                        <div class="reviews-comment__message">Оставленный отзыв</div>
                                                        <ul class="reviews-comment__service-list">
                                                            <li class="reviews-comment__service-item">
                                                                <a class="reviews-comment__toggle" href="#"><i class="icon icon-finger-up mr-5"></i></a><span class="c-green">14</span>
                                                            </li>
                                                            <li class="reviews-comment__service-item">
                                                                <a class="reviews-comment__toggle" href="#"><i class="icon icon-finger-down mr-5"></i></a><span class="c-red">0</span>
                                                            </li>
                                                            <li class="reviews-comment__service-item">
                                                                <a class="reviews-comment__toggle" href="#"><i class="icon-comment-blue mr-5"></i><span class="reviews-comment__toggle-text">Ответить</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info__reviews-item">
                                                <div class="reviews-comment">
                                                    <div class="reviews-comment__inner left">
                                                        Иванов Иван
                                                    </div>
                                                    <div class="reviews-comment__inner right">
                                                        <div class="reviews-comment__date">05.11.2016</div>
                                                        <div class="stars-sm-painted">
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                            <i class="icon icon-star-sm-painted"></i>
                                                        </div>
                                                        <div class="reviews-comment__message">Оставленный отзыв</div>
                                                        <ul class="reviews-comment__service-list">
                                                            <li class="reviews-comment__service-item">
                                                                <a class="reviews-comment__toggle" href="#"><i class="icon icon-finger-up mr-5"></i></a><span class="c-green">14</span>
                                                            </li>
                                                            <li class="reviews-comment__service-item">
                                                                <a class="reviews-comment__toggle" href="#"><i class="icon icon-finger-down mr-5"></i></a><span class="c-red">0</span>
                                                            </li>
                                                            <li class="reviews-comment__service-item">
                                                                <a class="reviews-comment__toggle" href="#"><i class="icon-comment-blue mr-5"></i><span class="reviews-comment__toggle-text">Ответить</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="product-shipping-payment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores assumenda corporis dolore eligendi, est, ex iste laudantium, molestias neque nisi nobis porro possimus quasi quibusdam rem sunt voluptatem? A aperiam est fugiat magni necessitatibus nisi non. Dolor labore nesciunt vitae. Ad autem blanditiis consequuntur debitis doloribus ducimus exercitationem, illo non odio perferendis quibusdam reiciendis rerum tenetur! Alias asperiores dignissimos dolores eveniet hic, iste iure molestias nihil nobis omnis, pariatur perspiciatis praesentium quasi quia, reprehenderit tempore vitae! A accusantium aperiam at blanditiis consequatur dolor ducimus est ex, ipsa ipsam, iste necessitatibus porro possimus quae quidem quisquam quod rem totam voluptatibus?</div>
                                    <div role="tabpanel" class="tab-pane" id="product-guarantee">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium atque consectetur deleniti dolore doloribus ducimus esse, est eum eveniet explicabo harum labore mollitia nesciunt nisi placeat porro possimus praesentium quas reprehenderit. Cumque illo optio quasi quibusdam veniam voluptas! Ad assumenda deleniti dicta dolorum hic iste magni perspiciatis quis tempora voluptatibus. Aliquid commodi distinctio ducimus enim facilis fugiat hic inventore iste iure officiis optio perferendis placeat quae quo similique, ut, voluptate voluptatibus. Consequatur deserunt rem repellat sapiente soluta? Assumenda beatae, consectetur dolor explicabo hic illum incidunt ipsum iste iure, maxime quae quas unde? Cum facilis magnam quasi repellendus vero vitae!</div>
                                </div>
                            </div>
                            <div class="products">
                                <div class="products__item">
                                    <div class="products__header bg-light-gray">
                                        <h5 class="h5 clean">Сопутствующие товары</h5>
                                    </div>
                                    <div class="owl-carousel products__gallery mb-30">
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__item">
                                    <div class="products__header bg-blue">
                                        <h5 class="h5 clean c-white">Просмотренные товары</h5>
                                    </div>
                                    <div class="owl-carousel products__gallery">
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__gallery-item">
                                            <div class="products__gallery-item-header">
                                                <a class="products__gallery-link-name" href="#">
                                                    Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-body">
                                                <a class="products__gallery-link-img" href="#">
                                                    <i class="products__gallery-img-bg" style="background: url(images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg) no-repeat  center center; background-size: contain"></i>
                                                </a>
                                            </div>
                                            <div class="products__gallery-item-footer">
                                                <div class="text-center">
                                                    <a type="button" class="btn btn-info btn-ss" href="#">5 000 тг.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>
{% endblock %}