<div class="catalog-showcase">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalog-showcase__item">
                <div class="catalog-showcase__item-header">
                    <a class="catalog-showcase__link-name" href="#">
                        <h5 class="h5 clean">
                            Смартфон ASUS ZenFone Selfie ZD551KL (Sheer Gold) 16GB
                        </h5>
                    </a>
                </div>
                <div class="catalog-showcase__item-body">
                    <a class="catalog-showcase__link-img" href="#">
                        <img class="catalog-showcase__img" src="images/asus-zenfone-selfie-zd551kl-sheer-gold.jpg">
                    </a>
                </div>
                <div class="catalog-showcase__item-footer">
                    <div class="stars-md-unpainted">
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                        <i class="icon icon-star-md-unpainted"></i>
                    </div>
                    <div class="catalog-showcase__service">
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-comment mr-5"></i><span>0 отзывов</span>
                            </a>
                        </div>
                        <div class="catalog-showcase__service-inner">
                            <a class="catalog-showcase__link" href="#">
                                <i class="icon icon-plus-blue mr-5"></i><span>В сравнение</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mb-10">
                            <a type="button" class="btn btn-info" href="#">5 000 тг.</a>
                        </div>
                        <div>
                            <a class="catalog-showcase__link" href="#">
                                Подробнее о товаре
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gps_ring"></div>
            </div>
        </div>
    </div>
</div>