<div class="catalog-nav">
    <a class="catalog-sidebar__header" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list">
        <span class="catalog-nav__icon">
            <i class="icon icon-catalog"></i>
        </span>
        Каталог товаров
    </a>
    <ul id="catalog-nav__list" class="catalog-nav__list collapse">
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-gadget"></i>
                    </span>
                    Гаджеты и аксессуары
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-gadget">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-gadget" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-clock"></i>
                    </span>
                        Часы
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-clock">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-clock" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-cream"></i>
                    </span>
                    Красота и здоровье
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-beauty">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-beauty" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-sport"></i>
                    </span>
                        Спорт и отдых
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-mouse"></i>
                    </span>
                    1000 мелочей
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-wheel"></i>
                    </span>
                    Автоаксессуары
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-auto-accessories">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-auto-accessories" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-purse"></i>
                    </span>
                    Модные аксессуары
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-fashion-accessories">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-fashion-accessories" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-toy"></i>
                    </span>
                    Детские игрушки
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-headphones"></i>
                    </span>
                    Продукция Remax
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-lamp"></i>
                    </span>
                    Светодиодное освещение
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-instruments"></i>
                    </span>
                    Инструменты
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-gift-gray"></i>
                    </span>
                    Новогодние товары
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-new-year">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-new-year" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-bed"></i>
                    </span>
                    Текстиль
                </a>
            </div>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-cigarette"></i>
                        </span>
                        Товары для вейпинга
                </a>
                <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-vaping">
                    <i class="icon icon-plus-gray abs-center"></i>
                </a>
            </div>
            <ul id="catalog-nav__list-vaping" class="catalog-nav__list collapse">
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Жидкости для вейпинга</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Электронные испарители</a>
                </li>
                <li class="catalog-nav__item snd-lvl">
                    <a class="catalog-nav__link snd-lvl" href="#">Батарейные моды</a>
                </li>
            </ul>
        </li>
        <li class="catalog-nav__item fst-lvl">
            <div class="catalog-nav__link-wrap">
                <a class="catalog-nav__link" href="#">
                    <span class="catalog-nav__icon">
                        <i class="icon icon-glasses"></i>
                    </span>
                    Виртуальная реальность
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="catalog-filter">
    <a class="catalog-sidebar__header filter" data-toggle="collapse" data-parent="#accordion" href="#catalog-filter__list">
        <span class="catalog-nav__icon">
            <i class="icon icon-filter"></i>
        </span>
        Фильтр товаров
    </a>
    <ul id="catalog-filter__list" class="catalog-filter__list collapse">
        <li class="catalog-filter__item">
            <div class="catalog-filter__item-header">
                <h5 class="h5 clean">Выбор по параметрам</h5>
            </div>
            <div class="catalog-filter__item-inner">
                <p class="fs-15 mb-10">Цена</p>
                <form class="catalog-filter__form">
                    <div class="mb-15">
                        <span class="fs-11">от</span>
                        <span class="catalog-filter__input-text-wrap">
                            <input type="text" id="slider-range-start-price" class="input-text input-text-default input-text-xs" title="от" data-input-value="">
                        </span>
                        <span class="fs-11">до</span>
                        <span class="catalog-filter__input-text-wrap">
                            <input type="text" id="slider-range-finish-price" class="input-text input-text-default input-text-xs" title="до" data-input-value="">
                        </span>
                        <button type="submit" class="btn btn-default btn-xs">Показать</button>
                    </div>
                    <div>
                        <input type="range" class="slider-range" value="" data-slider-min="10" data-slider-max="1000000" data-slider-step="10" data-slider-value="[300000,700000]" title="Цена">
                    </div>
                </form>
            </div>
        </li>
        <li class="catalog-filter__item">
            <div class="catalog-filter__item-header">
                <h5 class="h5 clean">Торговые марки</h5>
            </div>
            <div class="catalog-filter__item-inner">
                <form class="catalog-filter__form">
                    <div class="catalog-filter__radio-wrap">
                        <label class="radio">
                            <input type="radio" class="radio__switch" name="radio-mark">
                            <i class="radio__switch-imitator"></i>
                            Марка 1
                        </label>
                    </div>
                    <div class="catalog-filter__radio-wrap">
                        <label class="radio">
                            <input type="radio" class="radio__switch" name="radio-mark">
                            <i class="radio__switch-imitator"></i>
                            Марка 2
                        </label>
                    </div>
                    <div class="catalog-filter__radio-wrap">
                        <label class="radio">
                            <input type="radio" class="radio__switch" name="radio-mark">
                            <i class="radio__switch-imitator"></i>
                            Марка 3
                        </label>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>